@model BSIT3L_Movies.Models.MovieViewModel

<!DOCTYPE html>
<html>
<head>
    <title>Random Movie</title>
</head>
<body>
    <h2>Random Movie</h2>
    <p>Name: @Model.Name</p>
    <p>Rating: @Model.Rating</p>
</body>
</html>